<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CS:GO</title>

        <link rel="stylesheet" href="../style/fonts/Gliroy/stylesheet.css">
        <link rel="stylesheet" href="../style/fonts/Blender_Pro/stylesheet.css">

        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <header class="account-header">
            <div class="container account-header__container">
                <div class="container account-header__logo-nav">
                    <h1 class="logo logo--black">
                        Cyber School
                    </h1>

                    <nav class="header-nav account-header__nav">
                        <a href="#" class="link-text link-text--black header__link">Игры</a>
                        <a href="#" class="link-text link-text--black header__link">События</a>
                        <a href="#" class="link-text link-text--black header__link">Курсы</a>
                    </nav>
                </div>

                <div class="user-data">
                    <div class="row">
                        <a href="#" class="circle-link">
                            <svg class="chat-icon">
                                <use href="../img/sprite.svg#chat"></use>
                            </svg>
                        </a>
    
                        <a href="#" class="bill">
                            Баланс: 3000 руб.
    
                            <svg class="chat-icon card-icon">
                                <use href="../img/sprite.svg#card"></use>
                            </svg>
                        </a>
                    </div>
                    

                    <div class="user">
                        <a href="#" class="circle-link">
                            <img src="../img/main/user.png" class="user__img" alt="">
                        </a>

                        <button class="user__name">
                            Василий

                            <svg class="chat-icon">
                                <use href="../img/sprite.svg#bottom_arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            
            
        </header>

        
        <section class="section section--full section-contain section-contain--m54">
            <div class="container">
                <div class="wrapper">
                    <h2 class="event-text event-text--title event-title--big account-title">Моя статистика</h2>

                    <div class="statistic">
                        <div class="statistic__item">
                            <h4 class="title-info features__title">20</h4>
                            <p>уроков пройдено</p>
                        </div>
                        <div class="statistic__item">
                            <h4 class="title-info features__title">50%</h4>
                            <p>домашек сделано</p>
                        </div>
                        <div class="statistic__item">
                            <h4 class="title-info features__title">200</h4>
                            <p>часов обучения</p>
                        </div>
                    </div>

                    <h2 class="event-text event-text--title event-title--big account-title">Мои достижения</h2>

                    <div class="archives">
                        <div class="archives__item">
                            <img src="../img/main/bow.png" class="archives__img" alt="">
                            <p>супер-стрелок</p>
                        </div>
                        <div class="archives__item">
                            <img src="../img/main/scream.png" class="archives__img" alt="">
                            <p>скрытность 100 level</p>
                        </div>
                        
                    </div>

                </div>
            </div>

        </section>
    

        <footer class="section footer">
            <div class="container">
                <div class="row footer__gap footer__row">
                    <p class="lil-text">© 2022 Cyber School</p>

                    <a class="lil-text underline">Политика обработки персональных данных</a>

                </div>

                <div class="row footer__row">
                    <div class="row footer__gap footer__row">
                        <p class="lil-text row">
                            <svg class="contact-icon">
                                <use href="../img/sprite.svg#tel"></use>
                            </svg>

                            +7 (800) 321-54-65
                        </p>
                        
                        <p class="lil-text row">
                            <svg class="contact-icon">
                                <use href="../img/sprite.svg#mail"></use>
                            </svg>

                            info@cyberschool.ru
                        </p>
                    </div>

                    <nav class="social-nav row">
                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#inst"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#ytb"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#disc"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </nav>
                </div>
            </div>
        </footer>

    </body>
</html>