<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Игры</title>

        <link rel="stylesheet" href="../style/fonts/Gliroy/stylesheet.css">
        <link rel="stylesheet" href="../style/fonts/Blender_Pro/stylesheet.css">

        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <header class="header">
            <h1 class="logo header__logo">
                Cyber School
            </h1>
            <nav class="header-nav">
                <a href="games.html" class="link-text header__link header__link--checked">Игры</a>
                <a href="events.html" class="link-text header__link">События</a>
            </nav>

            <div class="header__auth">

                <a href="account.html" class="link-text auth-link row">
                    <svg class="user-icon">
                        <use href="../img/sprite.svg#user"></use>
                    </svg>

                    Личный кабинет
                </a>

                <button class="btn">Пробный урок</button>
                
            </div>   
        </header>

        <section class="section chapter-entry">
            <div class="container">
                <p class="chapter-entry__bread bread-text">Cyber School / Игры</p>
            </div>

            <div class="container">
                <h2 class="title mb-0">Игры</h2>

                <p class="text side-text">
                    Проводим обучение по более 200 направлениям
                </p>
            </div>
        </section>

        <section class="section section-contain">
            <div class="container">
                <div class="cards">

                    <div class="card" style="background-image: url('../img/games/dota.png');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">DOTA 2</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/csgo.png');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">CS:GO</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/hearth_stone.jpeg');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">HearthStone</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/fifa.jpeg');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">FIFA 22</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>

                    <div class="card" style="background-image: url('../img/games/dota.png');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">DOTA 2</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/csgo.png');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">CS:GO</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/hearth_stone.jpeg');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">HearthStone</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/fifa.jpeg');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">FIFA 22</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>

                    <div class="card" style="background-image: url('../img/games/dota.png');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">DOTA 2</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/csgo.png');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">CS:GO</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/hearth_stone.jpeg');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">HearthStone</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/fifa.jpeg');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">FIFA 22</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>

                    <div class="card" style="background-image: url('../img/games/dota.png');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">DOTA 2</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/csgo.png');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">CS:GO</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/hearth_stone.jpeg');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">HearthStone</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                    <div class="card" style="background-image: url('../img/games/fifa.jpeg');">
                        <nav class="card__nav">
                            <a class="card__link" href="#">FIFA 22</a>
                            <a class="card__link" href="#">144 ч.</a>
                        </nav>
                    </div>
                
                </div>
            </div>
        </section>

        <section class="section section--black section-contain section-contain--tall">
            <img class="aside-img" src="../img/main/devices.png" alt="">

            <div class="container container--start feedback">

                <div class="plan">
                    <h4 class="title-info plan__title">Запишитесь на бесплатный ознакомитель­ный урок</h4>

                    <ul class="list">
                        <li class="text list__item">Определим ваш уровень</li>
                        <li class="text list__item">Познакомим со школой</li>
                        <li class="text list__item">Расскажем, как проходят занятия</li>
                        <li class="text list__item">Подберём программу</li>
                    </ul>
                </div>

                <form action="" class="form">
                    <input type="text" class="field" placeholder="Имя">
                    <input type="tel" class="field" placeholder="Телефон">

                    <div class="submit">
                        <button class="btn btn--big feedback__btn">Оставить заявку</button>

                        <p class="annotate-text">Нажимая на кнопку «Оставить заявку» я принимаю <a class="underline">Условия соглашения</a></p>
                    </div>
                </form>

            </div>
        </section>

        <footer class="section footer">
            <div class="container">
                <div class="row footer__gap footer__row">
                    <p class="lil-text">© 2022 Cyber School</p>

                    <a class="lil-text underline">Политика обработки персональных данных</a>

                </div>

                <div class="row footer__row">
                    <div class="row footer__gap footer__row">
                        <p class="lil-text row">
                            <svg class="contact-icon">
                                <use href="../img/sprite.svg#tel"></use>
                            </svg>

                            +7 (800) 321-54-65
                        </p>
                        
                        <p class="lil-text row">
                            <svg class="contact-icon">
                                <use href="../img/sprite.svg#mail"></use>
                            </svg>

                            info@cyberschool.ru
                        </p>
                    </div>

                    <nav class="social-nav row">
                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#inst"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#ytb"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#disc"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </nav>
                </div>
            </div>
        </footer>

    </body>
</html>