<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CS:GO</title>

        <link rel="stylesheet" href="../style/fonts/Gliroy/stylesheet.css">
        <link rel="stylesheet" href="../style/fonts/Blender_Pro/stylesheet.css">

        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <header class="header login-header">
            <h1 class="logo header__logo">
                Cyber School
            </h1>
            
        </header>

        
        <section class="section login">
            <img class="aside-img login-aside-img" src="../img/main/login_aside.png" alt="">

            <div class="container login-container">
                <form class="form">
                    <h2 class="form-title">Вход в личный кабинет</h2>
                    <input type="text" class="field field--black" placeholder="+7 (___) ___-__-__">
                    <button class="btn submit-btn">
                        Получить код по СМС
                    </button>

                    <a class="lil-text submit-lil-text underline">Получить код по СМС</a>

                    <nav class="social-nav social-nav--login row">
                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#fb"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#google"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#disc"></use>
                            </svg>
                        </a>
                    </nav>

                    <a class="lil-text submit-lil-text">Нет аккаунта? <span class="underline">Зарегистрироваться</span></a>

                </form>
            </div>

        </section>
    

        <footer class="section footer">
            <div class="container">
                <div class="row footer__gap footer__row">
                    <p class="lil-text">© 2022 Cyber School</p>

                    <a class="lil-text underline">Политика обработки персональных данных</a>

                </div>

                <div class="row footer__row">
                    <div class="row footer__gap footer__row">
                        <p class="lil-text row">
                            <svg class="contact-icon">
                                <use href="../img/sprite.svg#tel"></use>
                            </svg>

                            +7 (800) 321-54-65
                        </p>
                        
                        <p class="lil-text row">
                            <svg class="contact-icon">
                                <use href="../img/sprite.svg#mail"></use>
                            </svg>

                            info@cyberschool.ru
                        </p>
                    </div>

                    <nav class="social-nav row">
                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#inst"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#ytb"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#disc"></use>
                            </svg>
                        </a>

                        <a href="#" class="social-link">
                            <svg>
                                <use href="../img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                    </nav>
                </div>
            </div>
        </footer>

    </body>
</html>